* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 13px;
    line-height: 1.5;
}

/* header */
.header {
    position: relative;
}

.header_box {
    max-width: 1280px;
    margin: 0 auto;
}

.header .up{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 50px;
}

.header .login {
    position: absolute;
    top: 20px;
    right: 360px;
    width: 200px;
    display: flex;
    justify-content: space-between;  
    color: #777; 
}

.search {
    position: absolute;
    top: 40px;
    left: 660px;
    width: 600px;
    height: 40px;
    border: 2px solid #E42C01;
    border-radius: 20px;
    padding: 10px;
}

.search .line{
    border: none;
    outline: none;
    padding: 0 10px;
    width: 500px;
}

.search img {
    position: absolute;
    right: 20px;
    bottom: 5px;
    align-items: center;
    display: block;
}

.gnb {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 20px 200px;
    font-size: 16px;
}

.gnb ul {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}


.gnb ul li {
    font-weight: bold;
    font-size: 18px;   
}

.gnb ul li:hover{
    color: #E42C01;
}

/* slider */

.slider {
    position: relative;
}

.slide {
    width: 1920px;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.slide .first {
    background-color: #f3ebe0;
}

.slide div {
    margin: 0 auto;
    width: 1270px;
    height: 556px;
    display: block;
}

.slider .arrows {
    padding: 0 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 300px;
}

/* service-section */

.service_section {
    width: 1000px;
    margin: 0 auto;
}

.service_section h2, .service_section p{
    text-align: center;
    padding-top: 20px;
}

.service_section h2 {
    font-size: 26px;
    padding-top: 50px;
}

.service_section .service {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.service_section .service li {
    width: 20%;
    position: relative;
    display: block;
    min-height: 72px;
    color: #222;
    padding: 84px 0 33px;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.service_section .service li:hover {
    font-weight: bold;
    border-bottom: 2px solid #E42C01;
}

.service_section .service li span {
    display: inline-block;
    padding: 2px 10px;
    font-size: 11px;
    position: absolute;
    line-height: 14px;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    transform: translateX(-50%);
    background-color: #E42C01;
    border: 1px solid #E42C01;
    color: #fff;
    bottom: 80px;
}

.ico_tv p{
    padding-bottom: 24px;
}

.border{
    content: '';
    display: block;
    position: absolute;
    top: 1090px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
}

/* .contents */

.contents {
    width: 1280px;
    margin: 0 auto;
    padding-top: 80px;
}

.contents h2 {
    font-size: 26px;
    text-align: center;
}

.contents ul {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.contents ul li {
    display: flex;
    flex-direction: column;
    width: 182px;
}

.contents .text {
    padding: 20px 0;
}

.contents .text span {
    border: 1px solid #333;
    border-radius: 20px;
    padding: 3px 10px;
}

.contents .text h3 {
    font-weight: normal;
    letter-spacing: -1.5px;
    padding-top: 18px;
}

.box2 {
    width: 100%;   
}

.special {
    width: 1300px;
    margin: 0 auto;
}

.special h2 {
    padding-top: 80px;
    text-align: center;
    font-size: 26px;
}

.special .p {
    text-align: center;
    padding: 40px;
}

.special .top {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.special .top > div {
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 24px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
}

.special .top_1 span {
    border: 1px solid #333;
    border-radius: 24px;
    padding: 3px 10px;
}

.special .top_2 {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.special .top_2 .up {
    border: 1px solid #ddd;
    border-radius: 24px;
    text-align: center;
    padding: 10px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
}

.special .top_2 .up ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.special .top_2 .down {
    padding: 0 20px;
    display: flex;
    gap: 20px;
}

.special .top_2 .down li{
    text-align: center;
    width: 60%;
    border-radius: 24px;
    height: 170px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
}

.special .top_2 .down li:first-child{
    background-color: #a0dae9;
    padding: 10px;
}

.special .top_2 .down li h4{
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 30px;
}

/* .special .top_2 .down li p{} */

.special .top_2 .down li:last-child{
    background-color: #ffb898;
    padding: 10px;
}

.addr_list{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
}

.addr_list li a{
    display: block;
    padding-top: 76px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.special .top_3 .icon_addr01{
    background-image: url('../images/icon_addr01.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.scroll {
    position: fixed;
    right: 200px;
    animation: motion 0.6s linear 0s infinite alternate;
}

.scroll_btn {
    display: none;
    padding: 14px 10px;
    background-color: #666;
    color: #fff;
    border-radius: 100%;
}

@keyframes motion {
    0%{bottom: 100px;}
    100%{bottom: 90px;}
}

.footer_section {
    margin-top: 100px;
    border-top: 27px solid #eee;
    padding-top: 90px;

}

.footer {
    width: 1280px;
    margin: 0 auto;
    height: 600px;
}

.footer .down {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footer .down .box {
    gap: 20px;
}
