* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 13px;
    line-height: 1.5;
}

/* header */
.header {
    position: relative;
}

.header_box {
    max-width: 1280px;
    margin: 0 auto;
}

.header .up{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 50px;
}

.header .login {
    position: absolute;
    top: 20px;
    right: 360px;
    width: 200px;
    display: flex;
    justify-content: space-between;  
    color: #777; 
}

.search {
    position: absolute;
    top: 40px;
    left: 660px;
    width: 600px;
    height: 40px;
    border: 2px solid #E42C01;
    border-radius: 20px;
    padding: 10px;
}

.search .line{
    border: none;
    outline: none;
    padding: 0 10px;
    width: 500px;
}

.search img {
    position: absolute;
    right: 20px;
    bottom: 5px;
    align-items: center;
    display: block;
}

.gnb {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 20px 200px;
    font-size: 16px;
}

.gnb ul {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}

.main_inner {
    width: 1240px;
    margin: 0 auto;
}

.top p{
    height: 70px;
    line-height: 70px;
}

.top {
    display: flex;
    justify-content: space-between;
}


.top img {
    padding-top: 20px;
    width: 40px;
}

.title {
    text-align: center;
}

.title h3 { font-size: 24px; }

.title p {
    padding: 20px;
}

.video .left {
    display: flex;
}

.video .left .text {
    height: 100%;
    padding: 30px;
    width: 400px;
}

.video .left .text a{
    border: 2px solid #666;
    padding: 10px;
    border-radius: 30px;
}

.video .left .text h3{
    font-size: 18px;
    padding: 30px 0;
}

.video .left .icon {
    position: absolute;
    right: 1140px;
    top: 520px;
    cursor: pointer;
}

.video .img img{
    width: 840px;
    cursor: pointer;
}





.border{
    content: '';
    display: block;
    position: absolute;
    top: 1060px;
    width: 100%;
    background-color: #ddd;
    opacity: 40%;
    padding-top: 20px;
}

.list {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.list h3 {
    padding: 40px;
    font-size: 20px;
    text-align: center;
}

.list ul {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 40px;
    padding: 10px 20px;
}


.list ul img {
    width: 280px;
}

.scroll {
    position: fixed;
    right: 200px;
    animation: motion 0.6s linear 0s infinite alternate;
}

.scroll_btn {
    display: none;
    padding: 14px 10px;
    background-color: #666;
    color: #fff;
    border-radius: 100%;
}

@keyframes motion {
    0%{bottom: 100px;}
    100%{bottom: 90px;}
}

.footer {
    height: 300px;
}
.footer .down {
    text-align: center;
}
